{% extends 'base_generic.html' %}

{% block extra_head %}
<style>
    .login-container {
        background: rgba(255, 255, 255, 0.2); /* Fondo borroso */
        backdrop-filter: blur(8px); /* Efecto de desenfoque */
        border-radius: 10px; /* Bordes redondos */
        padding: 20px;
        max-width: 400px; /* Ancho máximo del contenedor */
        margin: auto; /* Centrar horizontalmente */
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-5" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="login-container text-white text-center">
        <h2 class="mb-4">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-sm mt-3">Iniciar Sesión</button>
        </form>
    </div>
</div>
{% endblock %}
