{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Portafolio{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles5.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    
    {% bootstrap_javascript %}
    
</body>
</html>





