@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Nunito' , sans-serif;

}

:root{
    --bg-color: #232425;
    --snd-bf-color: #87758c;
    --text-color: #fff;
    --main-color: #383d40;
    --backgrd-color: #a99da9;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--text-color);
    color: var(--bg-color); 
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
   position: fixed; 
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 9%;
   height: 11rem;
   background: var(--bg-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.logo img{
    width: 54px;
}

.navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-content g3{
    font-size: 3.2rem;
    font-weight: 700;
}

.inicio-content h3:nth-of-type(2){
    margin-bottom:2rem;
}
span{
    color: var(--main-color);
}

.inicio-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.inicio-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%{
       transform: translateY(0); 
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0) ;
    }
}

.inicio-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 2rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

/* Oculto la sección de servicios en dispositivos móviles */
@media (max-width: 768px) {
    .servicios {
      display: none;
    }
  }

.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: -100rem;
    background: var(--backgrd-color);
}

.sobremi-img img{
    width: 28vw;
    margin-top: 2rem;
}

.heading{
    text-align: center;
    font-size: 3.0rem;
}

.sobremi-content h2{
    text-align: left;
    line-height: 5.0rem;
}

.sobremi-content h3{
    font-size: 1.6rem;
}

.sobremi-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.servicios h2{
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.servicios-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.servicios-container .servicios-box{
    flex: 1 1 30rem;
    background: var(--text-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.headinng{
    text-align: center;
    font-size: 3.0rem;
}

.servicios-container  .servicios-box{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.servicios-box i{
    font-size: 7rem;
    color: var(--snd-bf-color);
}

.servicios-box h3{
    font-size: 2.5rem;
}

.servicios-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portafolio{
    background: var(--text-color);
}

.portafolio h2{
    margin-bottom: 5rem;
    margin-top: 9rem;
}

.portafolio-container {
    display: grid;
    border-radius: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 50px; 
    justify-items: center; 
}

.portafolio-box {
    width: 250px; /* Fija el ancho de los cuadros */
    height: 200px; /* Fija la altura de los cuadros */
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.portafolio-container .portafolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    height: 100%;
    display: flex;
}

.portafolio-box img{
    width: 90%;
    transition: .5s ease;
}

.portafolio-box:hover img{
    transform: scale(1.1);
}

.portafolio-box .portafolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portafolio-box:hover .portafolio-layer{
    transform: translateY(0);
}

.portafolio-layer h4{
    color: #fff7f7;
    font-size: 3rem;
}

.portafolio-layer p{
    color: #ffffff;
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.portafolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portafolio-layer a i{
    font-size: 2rem;
    color: var(--snd-bf-color);  
}

.headingg{
    text-align: center;
    font-size: 3.0rem;
}

.contact h2{
    color: #525252;
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--backgrd-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--backgrd-color);
}

.footer-iconTop{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--backgrd-color);
}

/*BREAKPOINT*/

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }

    .servicios{
        padding: 7rem;
    }

    .portafolio{
        padding-bottom: 7rem;
    }

    .contactos{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
       #menu-icon{
       display: block;
   }

   .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem;
        display: none;
   }

   .navbar.active{
        display: block;
   }

   .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
   }

   .inicio{
       flex-direction: column;
   }

   .inicio-content h3{
       font-size: 2.6rem;
   }

   .inicio-content h1{
       font-size: 5rem;
   }

   .inicio-content{
        order: 2;
   }

   .inicio-img img{
       width: 70vw;
       margin-top: 4rem;
   }

   .sobremi{
       flex-direction: column;
   }

   .sobremi-img img{
       width:90vw;
       margin-top: 4rem;
   }

   .servicios h2{
       margin-bottom: 3rem;
   }

   .portafolio h2{
       margin-bottom: 3rem;
   }

   .portafolio-container{
       grid-template-columns: repeat(2, 1fr) ;
   }
}

@media (max-width: 617px){
    .portafolio-container{
        grid-template-columns: 1fr;
    }

    .inicio-img img{
        width: 80vw;
        margin-top: 8rem;
    }

    .inicio-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contactos form .input-box input{
        width: 100%;
    }
}

